---
---
<div
  class="my-10 mt-10 text-gray-800 dark:prose-invert
  prose-h1:font-bold prose-h1:text-5xl prose-h1:mt-10 prose-h1:underline
  prose-h2:font-bold prose-h2:text-3xl prose-h2:my-2
  prose-h3:font-bold prose-h3:text-2xl prose-h3:my-2
prose-p:text-xl prose-p:my-5
prose-a:relative prose-a:inline-block prose-a:text-gray-800  prose-a:font-semibold prose-a:px-1 prose-a:before:content-[''] prose-a:before:absolute prose-a:before:inset-x-0 prose-a:before:bottom-0 prose-a:before:h-1/4 prose-a:before:bg-sky-300 prose-a:before:z-[-1] prose-a:before:transition-all prose-a:before:duration-300 prose-a:hover:before:h-full
prose-ol:list-inside prose-ol:list-decimal prose-ol:w-full prose-ol:text-xl
prose-ul:list-inside prose-ul:list-decimal prose-ul:w-full prose-ul:text-xl
">
<slot />
</div>