---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import "../styles/global.css";

type Props = CollectionEntry<'profile'>['data'];

const { title, description, date } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<main>
			<article class="font-mono">
				<div class="max-w-[720px] mx-auto px-5 mt-10 ">
					<div>
						<div class="flex flex-row justify-between mb-2">
							<FormattedDate date={date} />
							<a href="/project/feedback" class="relative inline-block text-gray-800 px-3 py-1
         before:content-[''] before:absolute before:inset-x-0 before:bottom-0
         before:h-1/4 before:bg-sky-300 before:z-[-1]
         before:transition-all before:duration-300
         hover:before:h-full">My Projects</a>
						</div>
					</div>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>
